# Домашнее задание №1
## Задание 1
На складе лежат разные фрукты в разном количестве.
Нужно написать функцию, которая на вход принимает любое количество названий фруктов и их количество, а возвращает общее количество фруктов на складе

In [1]:
def sum_fruits (**kwargs):
    return sum(kwargs.values())

In [2]:
f"Всего фруктов: {sum_fruits(mango=5,peach=6,plum=9)}"

'Всего фруктов: 20'

## Задание 2
Дан список с затратами на рекламу. Но в данных есть ошибки, некоторые затраты имеют отрицательную величину. Удалите такие значения из списка и посчитайте суммарные затраты
[100, 125, -90, 345, 655, -1, 0, 200]
Используйте list comprehensions

In [3]:
cost = [100, 125, -90, 345, 655, -1, 0, 200]

In [4]:
def del_neg (cost:list) -> list:
    for i in cost:
        if i < 0:
            cost.remove(i)
    return cost

In [5]:
result = [i for i in cost if i> 0]

In [6]:
print(f"Общие затраты: {sum(result)}")
print("------")
print(f"Общие затраты: {sum(del_neg(cost))}")

Общие затраты: 1425
------
Общие затраты: 1425

## Задание 3
Даны два списка.
Дата покупки

['2021-09-14', '2021-12-15', '2021-09-08', '2021-12-05', '2021-10-09', '2021-09-30', '2021-12-22', '2021-11-29', '2021-12-24', '2021-11-26', '2021-10-27', '2021-12-18', '2021-11-09', '2021-11-23', '2021-09-27', '2021-10-02', '2021-12-27', '2021-09-20', '2021-12-13', '2021-11-01', '2021-11-09', '2021-12-06', '2021-12-08', '2021-10-09', '2021-10-31', '2021-09-30', '2021-11-09', '2021-12-13', '2021-10-26', '2021-12-09']

Суммы покупок по датам

[1270, 8413, 9028, 3703, 5739, 4095, 295, 4944, 5723, 3701, 4471, 651, 7037, 4274, 6275, 4988, 6930, 2971, 6592, 2004, 2822, 519, 3406, 2732, 5015, 2008, 316, 6333, 5700, 2887]

### 4.1 Найдите, какая выручка у компании в ноябре

In [7]:
date = ['2021-09-14', '2021-12-15', '2021-09-08', '2021-12-05', 
        '2021-10-09', '2021-09-30', '2021-12-22', '2021-11-29', 
        '2021-12-24', '2021-11-26', '2021-10-27', '2021-12-18', 
        '2021-11-09', '2021-11-23', '2021-09-27', '2021-10-02', 
        '2021-12-27', '2021-09-20', '2021-12-13', '2021-11-01', 
        '2021-11-09', '2021-12-06', '2021-12-08', '2021-10-09', 
        '2021-10-31', '2021-09-30', '2021-11-09', '2021-12-13', 
        '2021-10-26', '2021-12-09']
purchase = [1270, 8413, 9028, 3703, 5739, 4095, 295, 4944, 5723, 
            3701, 4471, 651, 7037, 4274, 6275, 4988, 6930, 2971, 
            6592, 2004, 2822, 519, 3406, 2732, 5015, 2008, 316, 
            6333, 5700, 2887]

In [8]:
def purchase_nov (date:list,purchase:list) -> int:
    result_sum = 0;
    for i in range(len(date)):
        if '-11-' in date[i]:
            result_sum+=purchase[i]
    return result_sum

In [9]:
f"Выручка за ноябрь: {purchase_nov(date,purchase)}"

'Выручка за ноябрь: 25098'

### Используйте list comprehensions

In [10]:
f"Выручка за ноябрь: {sum([purchase[i] for i in range(len(date)) if '-11-' in date[i]])}"

'Выручка за ноябрь: 25098'

### 4.2 Найдите выручку компании в зависимости от месяца
Для этого напишите функцию, которая на вход принимает список с датами и список с выручкой, а на выходе словарь, где ключи - это месяцы, а значения - это выручка.
Используйте аннотирование типов.

In [11]:
def purchase_month (date:list,purchase:list) -> dict:
    list_month = ["Январь", "Февраль","Март", "Апрель","Май","Июнь","Июль","Август","Сентябрь","Октябрь","Ноябрь","Декабрь"]
    result = {}
    for i in range(len(date)):
        month = list_month[int(date[i].split('-')[1].lstrip('0'))-1]
        if month in result:
            result[month] += purchase[i]
        else:
            result[month] = purchase[i]
    return result

In [12]:
purchase_month(date,purchase)

{'Сентябрь': 25647, 'Декабрь': 45452, 'Октябрь': 28645, 'Ноябрь': 25098}